<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{% static 'css/default.css' %} " rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/test.css' %}" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="{% static 'js/editaction.js' %}"></script>
</head>
<body>
<div id="wrapper">
	<div id="header-wrapper">
		<div id="menu" class="container" style="background:#121079;">
		  <ul>
            {% if role = "Admin" %}
            <li >
                <a  href="/accounts/" accesskey="1" title="">الحسابات</a>
            </li>
            <li>
                <a href="/projects/" accesskey="4" title="">المشاريع</a>
            </li>
            <li>
                <a href="/shekat/" accesskey="4" title="">الرصيد</a>
            </li>
            <li class="current_page_item">
                <a href="/m2alen/" accesskey="2" title="">مقاولين الباطن</a>
            </li>
            <li>
                <a href="/today/" accesskey="3" title="">اليومية</a>
            </li>
            <li >
                <a href="/start/" accesskey="1" title="">الصفحة الرئيسية </a>
            </li>
                {% elif role == "Accountant" %}
                    <li>
                        <a href="/projects/" accesskey="4" title="">المشاريع</a>
                    </li>
                    <li>
                        <a href="/shekat/" accesskey="4" title="">الرصيد</a>
                    </li>
                    <li>
                        <a href="/m2alen/" accesskey="2" title="">مقاولين الباطن</a>
                    </li>
                    <li>
                        <a href="/today/" accesskey="3" title="">اليومية</a>
                    </li>
                    <li class="current_page_item">
                        <a href="/start/" accesskey="1" title="">الصفحة الرئيسية </a>
                    </li>
                    {% else %}
                     <li>
                        <a href="/projects/" accesskey="4" title="">المشاريع</a>
                    </li>
                 
                    <li>
                        <a href="/m2alen/" accesskey="2" title="">مقاولين الباطن</a>
                    </li>
                    <li>
                        <a href="/today/" accesskey="3" title="">اليومية</a>
                    </li>
                    <li class="current_page_item">
                        <a href="/start/" accesskey="1" title="">الصفحة الرئيسية </a>
                    </li>
            {% endif %}
        </ul>
	</div>
</div>
<div id="page" class="container">
    <div style="margin:40px;">
        <form action="/editaction/{{obj.id}}/{{action.id}}" method="post" id="signupForm">
        {% csrf_token %}
            <center>
                <div class="fieldContainer">
                    <div class="formRow">
                        <div class="label">
                            <label for="name">المبلغ المدفوع</label>
                        </div>
                        <div class="field">
                            <input type="text" name="paid" id="paid"  style="direction: rtl; text-align: right;" placeholder=" {{action.action_paid}}"/>
                        </div>
                    </div>
                </div>
           <!-- Closing fieldContainer -->
            </center>
            <br>
            <br>
            <br>
            <center>
                <input type="submit" name="submit" style="width:150px;height:50px" value=" تعديل" />
            </center>
        </form>
    </div>
</div>

</div>
</body>
</html>
