<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="{% static 'css/default.css' %} " rel="stylesheet" type="text/css" media="all" />
  <link href="{% static 'css/fonts.css' %}" rel="stylesheet" type="text/css" media="all" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/test_today.css'%}"/>
  <script type="text/javascript">
    $(document).ready(
        /* This is the function that will get executed after the DOM is fully loaded */
      function ()
      {
        $( "#datepicker" ).datepicker(
        {
          changeMonth: true,//this option for allowing user to select month
          changeYear: true //this option for allowing user to select from year range
        });
      }
    );
  </script>
</head>
<body>
  <div id="wrapper">
    <div id="header-wrapper">
      <div id="menu" class="container" style="background:#121079;">
        <ul>
        {% if role = "Admin" %}
            <li >
              <a  href="/accounts/" accesskey="1" title="">الحسابات</a>
            </li>
				    <li>
              <a href="/projects/" accesskey="4" title="">المشاريع</a>
            </li>
				    <li>
              <a href="/shekat/" accesskey="4" title="">الرصيد</a>
            </li>
			      <li class="current_page_item">
              <a href="/m2alen/" accesskey="2" title="">مقاولين الباطن</a>
            </li>
            <li>
              <a href="/today/" accesskey="3" title="">اليومية</a>
            </li>
				    <li >
              <a href="/start/" accesskey="1" title="">الصفحة الرئيسية </a>
            </li>
		      {% elif role == "Accountant" %}
                    <li>
                        <a href="/projects/" accesskey="4" title="">المشاريع</a>
                    </li>
                    <li>
                        <a href="/shekat/" accesskey="4" title="">الرصيد</a>
                    </li>
                    <li class="current_page_item">
                        <a href="/m2alen/" accesskey="2" title="">مقاولين الباطن</a>
                    </li>
                    <li>
                        <a href="/today/" accesskey="3" title="">اليومية</a>
                    </li>
                    <li>
                        <a href="/start/" accesskey="1" title="">الصفحة الرئيسية </a>
                    </li>
                    {% else %}
                     <li>
                        <a href="/projects/" accesskey="4" title="">المشاريع</a>
                    </li>
                 
                    <li class="current_page_item">
                        <a href="/m2alen/" accesskey="2" title="">مقاولين الباطن</a>
                    </li>
                    <li>
                        <a href="/today/" accesskey="3" title="">اليومية</a>
                    </li>
                    <li >
                        <a href="/start/" accesskey="1" title="">الصفحة الرئيسية </a>
                    </li>
        {% endif %}
        </ul> 
      </div>
    </div>
    <div id="page" class="container">
     	{% if username %}
      <br>
      <form class="search" method="POST" action="/m2awelsearch/" style="float:right;" name="test">
      {% csrf_token %}
          <a href="javascript:document.forms['test'].submit()" style="color:red;float: right;">بحث
          </a>
          <br>
          <div class="form-row"  style="direction: rtl; text-align: right;">
            <label style="direction: rtl; text-align: right;padding:-10px 60px ;"  >المهنة
            </label>
            <br>
            <select name="jobs" id="jobs" style="direction: rtl; text-align: right;">
              <option value="defult" selected="">اختر المهنة من هنا</option>
              {% for user in users %}
              <option value="{{user.job}}">{{user.job}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-row"  style="direction: rtl; text-align: right;">
            <label style="direction: rtl; text-align: right;padding:-10px 60px ;"  >اسم المقاول</label>
            <select name="names" id="names"style="direction: rtl; text-align: right;">
              <option value="defult" selected="">اختر اسم المقاول من هنا</option>
              {% for user in users %}
              <option value="{{user.name}}">{{user.name}}</option>
              {% endfor %}
            </select>
          </div>
          <br>
        </form>
        <br>
        <br>
        <br>
        <center>
          {% if obj %}
          <table>
            <tr>
              <th>الضبط</th>
              <th>المبلغ المدفوع</th>
              <th>المبلغ المتفق عليه</th>
              <th>المهنة</th>
              <th>اسم المقاول</th>
            </tr>
            <tr>
              <td style="width:20%"> 
                <a  href="/viewm2awel/{{obj.id}}/" style="font-size:18px;color:green;float:right;padding:10px;">عرض
                </a>
                <a  href="/editm2awel/{{obj.id}}" style="color:blue;float:right;padding:10px;font-size:18px;">تعديل
                </a>
                <a  href="/delm2awel/{{obj.id}}/" style="font-size:18px;color:red;float:right;padding:10px;">حذف
                </a> 
              </td>
              <td style="direction: rtl; text-align: right;">{{obj.paid}}</td>
              <td style="direction: rtl; text-align: right;">{{obj.money}}</td>
              <td style="direction: rtl; text-align: right;">{{obj.job}}</td>
              <td style="direction: rtl; text-align: right;">{{obj.name}}</td>
           </tr>
          </table>
          {% else %}
            <div>لا توجد نتائج</div>
            <br>
            <br>
            {% endif %}
            <center>
              <h1>
                <a href="/m2alen/" style="color:blue;margin-right:155px;">الرجوع الى صفحة المقاولين
                </a>
              </h1>
            </center>
          </center>
		      {% else %}
          <center>
            <p style="color:red; font-size:22px;">لابد من تسجيل دخول حتى ترى هذة الصفحة</p>
            <div style="margin: 15px;">
		          <a style="color:blue; font-size:20px" href="/login/">تسجيل دخول</a>
		          <a style="color:green;margin-right:30px;font-size:20px" href="/register/">انشاء حساب </a>
            </div>
          </center>
		      {% endif %}
        </div>
      </div> 
    </body>
</html>
