<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="{% static 'css/default.css' %} " rel="stylesheet" type="text/css" media="all" />
  <link href="{% static 'css/fonts.css' %}" rel="stylesheet" type="text/css" media="all" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/test_today.css'%}"/>
  <script type="text/javascript">
    $(document).ready(
        /* This is the function that will get executed after the DOM is fully loaded */
      function () 
      {
        $( "#datepicker" ).datepicker({
            changeMonth: true,//this option for allowing user to select month
            changeYear: true //this option for allowing user to select from year range
              // dateFormat: 'yy-mm-dd'
          });
      }
    );
  </script>
</head>
<body>
    <div id="wrapper">
	    <div id="header-wrapper">
		    <div id="menu" class="container" style="background:#121079;">
            <ul>
            {% if role == "Admin" %}
              <li class="current_page_item">
                <a  href="/accounts/" accesskey="1" title="">الحسابات</a></li>
              <li>
                <a href="/projects/" accesskey="4" title="">المشاريع</a>
              </li>
              <li>
                <a href="/shekat/" accesskey="4" title="">الرصيد</a>
              </li>
              <li>
                <a href="/m2alen/" accesskey="2" title="">مقاولين الباطن</a>
              </li>
              <li >
                <a href="/today/" accesskey="3" title="">اليومية</a>
              </li>
              <li >
                <a href="/start/" accesskey="1" title="">الصفحة الرئيسية </a>
              </li>
            {% elif role == "Accountant" %}
                    <li class="current_page_item">
                        <a href="/projects/" accesskey="4" title="">المشاريع</a>
                    </li>
                    <li>
                        <a href="/shekat/" accesskey="4" title="">الرصيد</a>
                    </li>
                    <li>
                        <a href="/m2alen/" accesskey="2" title="">مقاولين الباطن</a>
                    </li>
                    <li>
                        <a href="/today/" accesskey="3" title="">اليومية</a>
                    </li>
                    <li >
                        <a href="/start/" accesskey="1" title="">الصفحة الرئيسية </a>
                    </li>
                    {% else %}
                     <li class="current_page_item">
                        <a href="/projects/" accesskey="4" title="">المشاريع</a>
                    </li>
                 
                    <li>
                        <a href="/m2alen/" accesskey="2" title="">مقاولين الباطن</a>
                    </li>
                    <li>
                        <a href="/today/" accesskey="3" title="">اليومية</a>
                    </li>
                    <li >
                        <a href="/start/" accesskey="1" title="">الصفحة الرئيسية </a>
                    </li>
            {% endif %}
          </ul>
		    </div>
	     </div>
	     <div id="page" class="container">
        {% if username%}	
        <br>
        <center>
          <table style="width:400">
            <caption>
              <h1>العناصر</h1>
            </caption>
            <tr>
                <th>المدفوع</th>
                <th>اسم المشروع</th>
            </tr>
            <tr>
                <td style="direction: rtl; text-align: right;">{{items_price}}
                </td>
                <td style="direction: rtl; text-align: right;">{{project}}
                </td>
            </tr>
          </table>
        </center>
        <br>
        <center>
          <table style="width:400">
            <caption>
              <h1>المقاولين</h1>
            </caption>
            <tr>
              <th>المدفوع</th>
              <th>اسم المشروع</th>
            </tr>
            <tr>
              <td style="direction: rtl; text-align: right;">{{ma2wlen_price}}</td>
              <td style="direction: rtl; text-align: right;">{{project}}</td>
            </tr>
          </table>
        </center>
        <br>
        <center>
          <table style="width:400">
            <caption>
              <h1>الشيكات</h1>
            </caption>
            <tr>
            {% if role == "Admin" %}
              <th>قيمة الشيكات</th>
              <th>اسم المشروع</th>
            {% else %}   
              <th>قيمة الشيكات</th>
              <th>اسم المشروع</th>
            {% endif %}
            </tr>
            {% if role == "Admin" %}       
            <tr>
              <td style="direction: rtl; text-align: right;">{{shekat_price}}</td>
              <td style="direction: rtl; text-align: right;">{{project}}</td>
            </tr>
            {% else %}
            <tr>
              <td style="direction: rtl; text-align: right;">{{shekat_price}}</td>
              <td style="direction: rtl; text-align: right;">{{project}}</td>
            </tr>
            {% endif %}
          </table> 
          <h1>
            <center>
            {% else %}
              <center>
                <p style="color:red; font-size:22px;">لابد من تسجيل دخول حتى ترى هذة الصفحة</p>
     		        <div style="margin: 15px;">
		              <a style="color:blue; font-size:20px" href="/login/">تسجيل دخول</a>
		              <a style="color:green;margin-right:30px;font-size:20px" href="/register/">انشاء حساب </a>
                  </div>
            </center>
		        {% endif %}
	       </div>
      </div>
     
    </body>
</html>
