<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="{% static 'css/default.css' %} " rel="stylesheet" type="text/css" media="all" />
  <link href="{% static 'css/fonts.css' %}" rel="stylesheet" type="text/css" media="all" />
  <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" media="all" />
  <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
  <SCRIPT TYPE="text/javascript">
    function numbersonly(myfield, e, dec)
    {
      var key;
      var keychar;
      if (window.event)
        key = window.event.keyCode;
      else if (e)
        key = e.which;
      else return true;
      keychar = String.fromCharCode(key);
      if ((key==null) || (key==0) || (key==8) || (key==9) || (key==13) || (key==27) ) return true;
      else if (((".0123456789").indexOf(keychar) > -1))
        return true;
      else if (dec && (keychar == "."))
        {
          myfield.form.elements[dec].focus();
          return false;
        }
      else return false;
    }
  </SCRIPT>
</head>
<body>
    <div id="wrapper">
	    <div id="header-wrapper">
		    <div id="menu" class="container" style="background:#121079;">
          <ul>
            <li>
              <a href="/projects/" accesskey="4" title="">المشاريع</a>
            </li>
				    <li>
              <a href="/shekat/" accesskey="4" title="">الرصيد</a>
            </li>
				    <li>
              <a href="/m2alen/" accesskey="2" title="">مقاولين الباطن</a>
            </li>
				    <li>
              <a href="/today/" accesskey="3" title="">اليومية</a>
            </li>
				    <li class="current_page_item">
              <a href="/start/" accesskey="1" title="">الصفحة الرئيسية </a>
            </li>
          </ul>
		    </div>
	   </div>
	   <div id="page" class="container">
        <div style="margin:40px">
          <form action="/register/" method="post" id="signupForm">
          {% csrf_token %}
            <center>
            <div class="fieldContainer">
              <div class="formRow">
                <div class="label">
                  <label for="name">الاسم</label>
                </div>
                <div class="field">
                  <input type="text" name="name" id="name" style="direction: rtl; text-align: right;" placeholder=" ادخل الاسم هنا" required />
                </div>
              </div>
              <div class="formRow">
                <div class="label">
                  <label for="email">الايميل</label>
                </div>
                <div class="field">
                  <input type="email" name="email" id="email" style="direction: rtl; text-align: right;" placeholder="ادخل الايميل هنا" required />
                </div>
              </div>
              <div class="formRow">
                <div class="label">
                  <label for="pass">كلمة السر</label>
                </div>
                <div class="field">
                  <input type="password" name="pass" id="pass" style="direction: rtl; text-align: right;" placeholder="ادخل كلمة السر"  required />
                </div>
              </div>
              <div class="formRow">
                <div class="label">
                  <label for="age">السن</label>
                </div>
                <div class="field">
                  <input type="text" name="age"  onKeyPress="return numbersonly(this, event)" id="age" style="direction: rtl; text-align: right;" placeholder="ادخل العمر" />
                </div>
              </div>
            </div> <!-- Closing fieldContainer -->
          </center>
          <br>
          <br>
          <br>
          <center>
            <input type="submit" name="submit" style="width:150px;height:50px" value="انشاء حساب" />
          </center>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
